@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@sizes: {
  mobile: 360px;
  tablet: 768px;
  desktop: 1024px;
}

@colors: {
  gray: #5e5e5e;
  light-gray: #f2f2f2;
  yellow: #f8ba00;
  white: white;
  black: black;
}

html {
  font-family: "Nanum Gothic";
  background-color: @colors[light-gray];
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: @colors[gray];
}

.spin {
  animation: spinner 0.5s linear 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.bg-c-gray {
  background-color: @colors[light-gray];
}

.bg-c-yellow {
  background-color: @colors[yellow];
}

.content {
  margin: auto;
  width: 100%;
}

.inner-content {
  margin: auto;
  width: 90%;
}

.tab {
  height: 200px;
  width: @sizes[tablet];
}

.mini-tab {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  border-radius: 20px;
  height: 75px;

  & > div > #date {
    display: none;
    padding: 0;
  }
  
  & > .inner-content {
    width: 100%;
  }
}

.list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.modal-bg {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: @colors[black];
  position: fixed;
  opacity: 0.7;
}

.modal {
  @width: @sizes[tablet];
  display: none;
  position: fixed;
  background-color: @colors[white];
  border-radius: 20px;
  width: @width;
  height: 300px;
  top: 50px;
  left: 50%;
  margin-left: @width / -2;
}

.modal-close {
  text-align: right;

  & > img {
    cursor: pointer;
    width: 15px;
    padding: 10px 10px 0 0;
  }
}

.modal-content {
  padding: 0 20px;
}

#title {
  height: 240px;
  text-align: center;
}

#title > p {
  font-weight: 300;
  padding-right: 210px;
  padding-top: 70px;
  font-size: 1.3rem;
}

#title > h1 {
  text-align: center;
  font-size: 5.5rem;
  margin: 0;
}

#logo {
  margin-bottom: -6px;
}

#logo > img {
  width: 100%;
}

#date {
  padding-top: 30px;
}

#date > p {
  color: @colors[white];
  font-size: 2rem;
  font-weight: bold;
}

#tab > ul {
  list-style: none;
  padding: 0;
  padding-top: 20px;
}

#tab > ul > li {
  display: inline-block;
  padding-left: 20px;
}

#tab > ul > li > a {
  font-size: 1.5rem;
}

#tab > ul > li > div {
  border-bottom: solid 4px;
  width: 30px;
  padding-top: 5px;
  color: @colors[gray];
}

#tab > ul > li:last-child {
  float: right;
  padding-top: 5px;
  padding-right: 20px;
}

#tab > ul > li:last-child > img {
  width: 30px;
  cursor: pointer;
  color: @colors[gray];
}

#list {
  margin-top: -50px;
  background-color: @colors[white];
  border-radius: 20px;
}

#list > div > div {
  height: 250px;
  border-bottom: 1px solid @colors[light-gray];
}

#list > div > div:nth-child(2n-1) {
  border-right: 1px solid @colors[light-gray];
}

#footer {
  margin-top: 20px;
  padding: 20px 0;
}

#footer > p {
  text-align: right;
  padding: 0 5%;
}

#current_time {
  text-align: center;
  font-size: 3rem;
  padding-top: 110px;
}

#current_weather {
  padding-top: 50px;
  text-align: center;
}

#current_weather_title > div:first-child {
  text-align: right;
}

#current_weather_title > div:last-child {
  margin-top: 25px;
  text-align: left;
}

#current_weather_title > div:last-child > p {
  font-size: 3rem;
}

#current_weather_more {
  text-align: right;
  padding: 35px 5px 0 0;
}

#current_weather_more > img {
  cursor: pointer;
  width: 20px;
}

#current_bus {
  margin-top: 85px;
  text-align: center;
}

#current_bus_title {
  font-size: 3rem;
}

#current_bus_message {
  font-size: 1.5rem;
}

#current_subway {
  #current_bus();
}

#current_subway_title {
  font-size: 2.7rem;
}

#current_subway_message {
  #current_bus_message();
}

@media (min-width: @sizes[tablet]) {
  .content {
    width: @sizes[tablet];
  }

  .mini-tab {
    width: @sizes[tablet] * 0.9;
  }
}

@media (max-width: @sizes[tablet] - 1) {
  .tab {
    width: 100%;
  }

  .mini-tab {
    width: 90%;
  }

  .modal {
    width: 90%;
    left: 0;
    margin-left: 5%;
  }

  #title {
    height: 200px;
    & > p {
      padding-top: 55px;
      padding-right: 165px;
      font-size: 1.1rem;
    }
    & > h1 {
      font-size: 4.5rem;
    }
  }

  #list > div {
    grid-template-columns: 100%;
  }

  #list > div > div:nth-child(2n-1) {
    border-right: none;
  }
}

@media (max-width: @sizes[mobile]) {
  #title {
    height: 180px;
    & > p {
      padding-right: 105px;
      font-size: 1rem;
    }
    & > h1 {
      font-size: 3.5rem;
    }
  }
}
