@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@sizes: {
  mobile: 360px;
  tablet: 768px;
  desktop: 1024px;
}

@colors: {
  gray: #5e5e5e;
  light-gray: #f2f2f2;
  yellow: #f8ba00;
  white: white;
  black: black;
}

html {
  font-family: "Nanum Gothic";
  background-color: @colors[light-gray];
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: @colors[gray];
}

.spin {
  animation: spinner 0.5s linear 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.bg-c-gray {
  background-color: @colors[light-gray];
}

.bg-c-yellow {
  background-color: @colors[yellow];
}

.content {
  margin: auto;
  width: 100%;
}

.inner-content {
  margin: auto;
  width: 90%;
}

.tab {
  height: 200px;
}

.text-only-tab {
  height: 120px;
}

.mini-tab {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  border-radius: 20px;
  height: 75px;

  & > div > #date {
    display: none;
    padding: 0;
  }
  
  & > .inner-content {
    width: 100%;
  }
}

.list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.modal {
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.modal-dialog {
  @width: @sizes[tablet];
  display: none;
  background-color: @colors[white];
  border-radius: 20px;
  width: @width;
  margin: 50px auto;
}

.modal-close {
  float: right;

  & > img {
    cursor: pointer;
    width: 15px;
    padding: 10px 10px 0 0;
  }
}

.modal-content {
  padding: 20px;
  padding-bottom: 40px;
  clear: both;
}

#signin {
  & > li {
    list-style: none;
    padding: 0;
  }
  & > li:last-child {
    padding: 10px;
    float: right;
  }
}

#title {
  height: 240px;
  text-align: center;

  & > p {
    font-weight: 300;
    padding: 60px 210px 0 0;
    font-size: 1.3rem;
  }

  & > h1 {
    text-align: center;
    font-size: 5.5rem;
    margin: 0;
    & > a {
      color: @colors[black];
    }
  }
}

#logo {
  margin-bottom: -6px;
  & > img {
    width: 100%;
  }
}

#date {
  padding-top: 30px;
  & > p {
    color: @colors[white];
    font-size: 2rem;
    font-weight: bold;
  }
}

#tab {
  & > ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
  }
}

#tab-title-bar {
  border-bottom: solid 4px;
  width: 30px;
  padding-top: 5px;
  color: @colors[gray];
}

#tab-title {
  font-size: 1.5rem;
}

#tab {
  & > ul {
    & > li {
      display: inline-block;
      & > img {
        width: 30px;
        cursor: pointer;
      }
      & > img:first-child {
        padding-right: 10px;
      }
    }
    & > li:first-child {
      padding-left: 20px;
    }
    & > li:last-child {
      float: right;
      padding-top: 5px;
      padding-right: 20px;
    }
  }
}

#list {
  margin-top: -50px;
  background-color: @colors[white];
  border-radius: 20px;
  & > div {
    & > div {
      height: 250px;
      border-bottom: 1px solid @colors[light-gray];
    }
    & > div:nth-child(2n-1) {
      border-right: 1px solid @colors[light-gray];
    }
  }
}

#footer {
  margin-top: 20px;
  padding: 20px 0;
  & > p {
    text-align: right;
    padding: 0 5%;
  }
}

#current_time {
  text-align: center;
  font-size: 3rem;
  padding-top: 110px;
}

#current_weather {
  padding-top: 50px;
  text-align: center;
}

#current_weather_title {
  & > div:first-child {
    text-align: right;
  }
  & > div:last-child {
    margin-top: 25px;
    text-align: left;
    & > p {
      font-size: 3rem;
    }
  }
}

#current_weather_more {
  text-align: right;
  padding: 35px 5px 0 0;
  & > img {
    cursor: pointer;
    width: 20px;
  }
}

.current_bus {
  margin-top: 85px;
  text-align: center;
}

.current_bus_title {
  font-size: 3rem;
}

.current_bus_message {
  font-size: 1.5rem;
}

.current_subway {
  .current_bus();
}

.current_subway_title {
  font-size: 2.7rem;
}

.current_subway_message {
  .current_bus_message();
}

#hourly_weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  & > div {
    width: 130px;
    text-align: center;
    padding: 20px 0;
    border: 1px solid @colors[light-gray];
  }
}

.sns {
  padding-top: 100px;
  text-align: center;
}

.sns-btn {
  width: 222px;
  height: 49px;
}

@media (min-width: @sizes[tablet]) {
  .content {
    width: @sizes[tablet];
  }

  .mini-tab {
    width: @sizes[tablet] * 0.9;
  }
}

@media (max-width: @sizes[tablet] - 1) {
  .tab {
    width: 100%;
  }

  .mini-tab {
    width: 90%;
  }

  .modal-dialog {
    width: 90%;
    left: 0;
    margin-left: 5%;
  }

  #title {
    height: 200px;
    & > p {
      padding-top: 55px;
      padding-right: 165px;
      font-size: 1.1rem;
    }
    & > h1 {
      font-size: 4.5rem;
    }
  }

  #list {
    & > div {
      grid-template-columns: 100%;
      & > div:nth-child(2n-1) {
        border-right: none;
      }
    }
  }
}

@media (max-width: @sizes[mobile]) {
  #title {
    height: 180px;
    & > p {
      padding-right: 105px;
      font-size: 1rem;
    }
    & > h1 {
      font-size: 3.5rem;
    }
  }

  #hourly_weather {
    & > div {
      width: 100px;
    }
  }
}
